@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Website.Models.DocumentModel.Document


<div class="text-black-50 text-weight-normal">
	by
	<a class="text-black-50" asp-controller="User" asp-action="Show" asp-route-id="@Model.Author.Id">
		@Model.Author.FirstName @Model.Author.LastName</a>

	<span class="text-black-50">
		@if (Model.CreatedDateTime.Date == System.DateTime.Today)
		{
			@:at
			@Model.CreatedDateTime.ToShortTimeString()
		}
		else
		{
			@:on
			@Model.CreatedDateTime.ToShortDateString()
		}
	</span>
</div>