@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Website.Models.DocumentWithAuthorStruct


<div>
    by
    <a class="text-black-50" asp-controller="User" asp-action="Show" asp-route-id="@Model.AuthorUser.Id">
        @Model.AuthorUser.FirstName @Model.AuthorUser.LastName
    </a>

    <span class="text-black-50">
        @if (Model.Document.CreatedDateTime.Date == System.DateTime.Today)
        {
            @:at
            @Model.Document.CreatedDateTime.ToShortTimeString()
        }
        else
        {
            @:on
            @Model.Document.CreatedDateTime.ToShortDateString()
        }
    </span>
</div>