@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model System.String
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container row">
	<div class="col col-md-4"></div>
	<div class="col col-md-4">
		<div class="display-4 text-center p-1">Log in</div>
		<div class="input-group input-group-xxl">
			<div class="container-fluid p-2">
				<div class="d-xl-flex justify-content-center">
					<div class="w-100">
						<label class="display-6">Password</label>
					</div>
					<div class="w-100 p-2">
						<input id="passwordInputId" class="w-100 input-group-text" type="password" />
					</div>
				</div>
				<div class="text-danger"></div>
			</div>
			<div class="container-fluid p-2">
				<span id="PasswordSaltString64" hidden>@ViewData["PasswordSaltString64"]</span>
				<span id="AuthHashKeyString64" hidden>@ViewData["AuthHashKeyString64"]</span>
				<input class="btn btn-sm btn-outline-dark col-12 p-2" type="submit" value="Submit" onclick="OnPasswordSubmitClick()" />
			</div>
			<div class="display-6 text-danger">@Html.Encode(Model)</div>
		</div>
	</div>
	<div class="col col-md-4"></div>
</div>

<script src='~/JS/sha512.js'></script>
<script src='~/JS/base64.js'></script>
<script>
	function getCookie(name) {
		var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
		if (match) return match[2];
	}
	function ToCommonBase64(str) {
		return ((str + '='.repeat(4 - (str.length % 4))).replace('-', '+').replace('_', '/'));
	}
	function ToUrlBase64(str) {
		return (str.replace('+', '-').replace('/', '_').replace('=', ''));
	}
	function BufToBase64(bufferArray) {
		return btoa(String.fromCharCode.apply(null, new Uint8Array(bufferArray)));
	}
	function OnPasswordSubmitClick() {
		PasswordSalt64 = ToCommonBase64(getCookie(@Html.Raw('\''+Website.Controllers.UserController.PasswordSaltString64+'\'')));
		AuthSalt64 = ToCommonBase64(getCookie(@Html.Raw('\''+Website.Controllers.UserController.AuthHashKeyString64+'\'')));
		console.log("PasswordSalt64 = " + PasswordSalt64);
		console.log("AuthSalt64 = " + AuthSalt64);

		var PasswordSaltBytes = Uint8Array.from(PasswordSalt64, c => c.charCodeAt(0));
		var AuthSaltBytes = Uint8Array.from(AuthSalt64, c => c.charCodeAt(0));
		console.log("PasswordSaltBytes = " + PasswordSaltBytes.join(' '));
		console.log("AuthSaltBytes = " + AuthSaltBytes.join(' '));

		var UserPasswordBytes = new TextEncoder().encode(document.getElementById("passwordInputId").value);
		console.log("user password bytes = " + UserPasswordBytes.join(' '));


		var Salted = Array.prototype.concat.apply(UserPasswordBytes, PasswordSaltBytes);
		console.log("Salted password bytes = < " + Salted.join(' ') + " >");

		var SaltedHashed = sha512.array(Salted);
		console.log("SaltedHashed password bytes = < " + SaltedHashed.join(' ') + " >");

		var SaltedHashedWithKey = Array.prototype.concat.apply(SaltedHashed, AuthSaltBytes);
		console.log("SaltedHashedWithKey password bytes = < " + SaltedHashedWithKey.join(' ') + " >");

		var SaltedHashedWithKeyHashed = sha512.array(SaltedHashedWithKey);
		console.log("SaltedHashedWithKeyHashed password bytes = < " + SaltedHashedWithKeyHashed.join(' ') + " >");

		var AsBase64url = ToUrlBase64(BufToBase64(SaltedHashedWithKeyHashed));
		console.log("SaltedHashedWithKeyHashed as base64 = " + AsBase64url);


		var Req = new XMLHttpRequest();
		Req.open('POST', '/User/NewAuthPassword', false);
		Req.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
		Req.onreadystatechange = function() {
			if (Req.readyState == XMLHttpRequest.DONE) {
				console.log("req done");
				window.location.href = Req.responseURL
			}
		}
		Req.send('@Html.Raw(Website.Controllers.UserController.PasswordHashedByClientFormName)' + "=" + AsBase64url);
        console.log("script done");
	}
</script>