@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Website.Models.UserModel.MetadataModel
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container row">
	<div class="col col-md-4"></div>
	<div class="col col-md-4">
		<div class="display-4 text-center p-1">Continue registration</div>

		@using (Html.BeginForm("RegistrationStageEnteringMetadata", "User", FormMethod.Post))
		{
			<div class="input-group input-group-xxl">

				<div class="container-fluid p-2">
					<div class="d-xl-flex justify-content-between">
						<div class="w-100">
							@Html.LabelFor(Model=>Model.AboutMe)
						</div>
						<div class="w-100">
							@Html.EditorFor(Model=>Model.AboutMe)
						</div>
					</div>
					@Html.ValidationMessageFor(Model=>Model.AboutMe,"",new {@class="text-danger"})
				</div>

				<div class="container-fluid p-2">
					<div class="d-xl-flex justify-content-between">
						<div class="w-100">
							@Html.LabelFor(Model=>Model.City)
						</div>
						<div class="w-100">
							@Html.EditorFor(Model=>Model.City)
						</div>
					</div>
					@Html.ValidationMessageFor(Model=>Model.City,"",new {@class="text-danger"})
				</div>

				<div class="container-fluid p-2">
					<div class="d-xl-flex justify-content-between">
						<div class="w-100">
							@Html.LabelFor(Model=>Model.PostalCode)
						</div>
						<div class="w-100">
							@Html.EditorFor(Model=>Model.PostalCode)
						</div>
					</div>
					@Html.ValidationMessageFor(Model=>Model.PostalCode,"",new {@class="text-danger"})
				</div>

				<div class="container-fluid p-2">
					<div class="d-xl-flex justify-content-between">
						<div class="w-100">
							@Html.LabelFor(Model=>Model.TelegramLink)
						</div>
						<div class="w-100">
							@Html.EditorFor(Model=>Model.TelegramLink)
						</div>
					</div>
					@Html.ValidationMessageFor(Model=>Model.TelegramLink,"",new {@class="text-danger"})
				</div>

				<div class="container-fluid p-2">
					<div class="d-xl-flex justify-content-between">
						<div class="w-100">
							@Html.LabelFor(Model=>Model.VkLink)
						</div>
						<div class="w-100">
							@Html.EditorFor(Model=>Model.VkLink)
						</div>
					</div>
					@Html.ValidationMessageFor(Model=>Model.VkLink,"",new {@class="text-danger"})
				</div>

				<div class="container-fluid p-2">
					<input class="btn btn-sm btn-outline-dark col-12 p-2" type="submit" value="Submit" />
				</div>
			</div>
		}
	</div>

</div>
<div class="col col-md-4"></div>
</div>