@model Website.Models.UserModel.User
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
.sqrimg{
  width:200px;height:200px;overflow:hidden
}
</style>

<div>
	<div class="row">
		<div class="col-lg-2"></div>
		<div class=col-lg-6>
			<div name="PhotoAndName">
				<div class="row p-3">
					@{
						<div class="col-lg-6">
							@{
								if (Model.String64_ProfileImage is not null)
								{
									<img class="sqrimg img-thumbnail" src="@("data:image/png;base64,"+@Model.String64_ProfileImage)" />
								}
								else
								{
									<div class="display-5">Фото нет! Держитесь!</div>
								}
							}
						</div>
					}
					@{
						<div class="col-lg-6">
							<p class="display-4">@Model.GetFullName()</p>
							<p class="h3">@Model.City</p>
							@if (!string.IsNullOrWhiteSpace(Model.AboutMe))
							{
								<p class="h4">About: @Model.AboutMe</p>
							}
							@if (Model.RegistrationCompleteDateTime is not null)
							{
								<p class="h4">Reg date: @Model.RegistrationCompleteDateTime.Value.ToShortDateString()</p>
							}
						</div>
					}
				</div>
			</div>
		</div>
		<div class=col-lg-4>
			<div class="text-center p-3 display-6">
				Last posted
			</div>
			@await Component.InvokeAsync(Website.ViewComponents.RecentDocumentsCardsViewComponent.nameofThis,new { MaxQuantity=5 })
		</div>
	</div>
</div>